let secret = {
    // NOTE: DO NOT WRITE *APP-SECRET* IN THIS FILE
    //       BECAUSE THIS MAY LEAK YOUR *APP-SECRET*
    
    "appKey": "123",
    "redirect": "http://www.example.com",
    "state": "test",
    "forcelogin": false,
};
export default secret;
