module.exports = {
    "cipher": {
        "shaSalt": "reetseesalt",
    },
    "oauth": {
        "weiboOauthConf": {
            "appKey": "123",
            "appSecret": "123abc",
            "redirect_uri": "http://reetsee.com",
        },
    },
    "session": {
        // for memory
        "sotrageEngine": "memory",

        // for memcached
        //"storageEngine": "memcached",
        
        "detail": {
            // for remote storage
            //"serverLocations": ["127.0.0.1:11211"],
        },
    },
    "validation": {
        "needWriteValidation": false,
        "adminIdList": [],
    },
};
